In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Function Review

## Prediction Review ##

In [ ]:
galton = Table.read_table('galton.csv')
galton

In [ ]:
# Here's where we left of Wednesday
# Gold dot is result of averageing child height with similar midparent heights
galton.scatter('midparentHeight', 'childHeight')
plots.plot([67.5, 67.5], [50, 85], color='red', lw=2)
plots.plot([68.5, 68.5], [50, 85], color='red', lw=2)
plots.scatter(68, 66.24, color='gold', s=50);

## Apply With Multiple Columns ##

## Grouping by One Category ##

In [ ]:
cones = Table.read_table('cones.csv')
cones

## Survey Example

In [ ]:
survey = Table.read_table('survey_clean.csv')
survey = survey.relabeled('In what year are you in your cumulative undergraduate studies?',
                         'Year in Undergrad')\
                .relabeled('In what year are you in your cumulative time at UC Berkeley?',
                            'Year at Cal')\
                .relabeled('Do you consider yourself an introvert or extrovert?',
                          'Extroversion Rating')\
                .relabeled('How many different people do you text (or any other forms of direct messaging) per day on average?',
                          'People Texted Per Day')\
                .relabeled('On average, how many hours of sleep do you get each night?',
                          'Hours of Sleep')\
                .relabeled('Are you left-handed or right-handed?', 'Handedness')\
                .relabeled('Which leg do you put in first when putting on pants?', 'Pants Leg Preference')
survey = survey.where("Year in Undergrad", are.not_equal_to(np.nan))
survey.show(5)

## Grouping by Two Categories ##

## Pivot Tables ##

# NBA Data

In [ ]:
nba = Table.read_table('nba_salaries.csv').relabeled(3, 'SALARY')
nba

In [ ]:
# CHALLENGE QUESTION 1: for each team,
# amount paid to "starter" (player earning the most) in each position

In [ ]:
# CHALLENGE QUESTION 2: for each team,
# total amount paid to all "starters"

## Joins ##

In [ ]:
drinks = Table(['Drink', 'Cafe', 'Price']).with_rows([
    ['Milk Tea', 'Tea One', 4],
    ['Espresso', 'Nefeli',  2],
    ['Latte',    'Nefeli',  3],
    ['Espresso', "Abe's",   2]
])
drinks

In [ ]:
discounts = Table().with_columns(
    'Coupon % off', make_array(25, 50, 5),
    'Location', make_array('Tea One', 'Nefeli', 'Tea One')
)
discounts