In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Creating a Table From Scratch ##

## Reading A Table From A File ##

In [ ]:
minard = ...

## Calculating and adding data to a table ##

In [ ]:
movies = ...

## Lecture 5  Part 2 - Examples

In [9]:
heroes = make_array('Batman', 'Aquaman', 'Spiderman', 'Captain Marvel','Wonder Woman')
heroes

array(['Batman', 'Aquaman', 'Spiderman', 'Captain Marvel', 'Wonder Woman'],
      dtype='<U14')

## Discussion

In [ ]:
nba = Table.read_table('nba_salaries.csv')
nba = nba.relabeled(3, 'SALARY').drop('TEAM')

In [ ]:
nba

## Census ##

In [ ]:
#onscreeen
full = Table.read_table('nc-est2014-agesex-res.csv')
full

## Visualization ##